{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block img_une %}{{ asset('bundles/clean-blog/img/home-bg.jpg') }}{% endblock %}
{% block body %}

<!-- Main Content -->
<div class="container">
{% for article in articles %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-preview">
              <a href="{{ article.id }}">
                  <h2 class="post-title">
                      {{ article.title}}
                  </h2>
              </a>
              <p class="post-meta">Posted by <a href="#">{{ article.author }}</a></p>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
